---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  background: url(images/bookstalls.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font: 1.1em/1.5 "IBM Plex Serif";
    font-weight: 500;
    color: #000;
}
h1, h2, h3, h4 {
    font-weight: 300;
    font-family: Rubik;
    color: #1AC0B8;
    line-height: 1.5;
    margin: 0.05em 0;
    padding: 0;
    @include mobile {
    line-height: 1.2;
  }
}
h1.darker, h2.darker, h3.darker, h4.darker {
    color: #1A66B8;
}
.wrapper-highlight h1, .wrapper-highlight h2, .wrapper-highlight h3,.wrapper-highlight h4, {
    font-weight: 400;
}
h1 {
  font-size: 2.2em;
  a {
    color: inherit;
  }
}
h2 {
    font-size: 1.8em;
    text-transform: uppercase;
}
h3 {
    font-size: 1.2em;
    color: #fff;
}
h4 {
    font-size: 1.1em;
}
p {
  margin: 0 0 1em 0;
}
p.page-intro {
    font-size: 1.8em;
    padding: 8% 2% 2% 2%;
    text-align: center;
}
p.page-intro a {
    display: inline-block;
    font-family: "Rubik";
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2em;
    padding: 0.2em 0.5em;
    background: #fff;
    color: #1AC0B8;
}
.wide-container-left-align h2 {
    min-width: 600px;
    font-size: 1.8em;
}
.wide-container-left-align p {
    max-width: 600px;
    font-size: 1.8em;
    color: #fff;
}
.wide-container-right-align h2 {
    min-width: 600px;
    font-size: 1.8em;
    float: right;
}
.wide-container-right-align p {
    max-width: 600px;
    font-size: 1.8em;
    color: #fff;
    float: right;
    clear: both;
}
a {
    color: #000;
    text-decoration: underline;
	cursor: pointer;
    &:hover, &:active {
    text-decoration: none;
  }
}
.pricing a {
    background: #fff;
    padding: 0.2em 0.4em;
    color: #000;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    text-decoration: underline;
	cursor: pointer;
    &:hover, &:active {
    text-decoration: none;
  }
}
#main a {
    color: #000;
}
ul {
  list-style-type: none;
}
ol {
  list-style-type: decimal;
}
ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}
ul ul, ol ul {
  list-style-type: circle;
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
img {
    max-width: 100%;
    display: block;
}
.date {
  font-style: normal;
  color: #fff;
}
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.wrapper {
    background: url(images/P1030452.jpg);
    background-size: cover;
    color: #000;
      @include mobile {
    background: #fff;
  }
}
#main {
    background: none;
    background: #fff;
    color: #000;
}
.wrapper-clear {
    background: none;
}
.wrapper-highlight {
    background: url(images/Rectangle.png) repeat-y;
    background-size: 100% auto;
    font-weight: 400;
    color: #fff;
}
.wrapper-strip {
    background: none;
}
.wrapper-services-design {
  background: url(images/legoworkshop.png) no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper-services-science {
  background: url(images/legoworkshop.png) no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper-services-skills {
  background: url(images/legoworkshop.png) no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
    margin: 0 auto;
    max-width: 860px;
    width: 80%;
}
.wide-container, .wide-container-left-align, .wide-container-right-align {
    margin: 0 auto;
    width: 80%;
    padding: 6em 0;
}

//
// .masthead
//

.masthead {
    margin: 0 auto;
    padding: 2em 0;
    width: 80%;
}
.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.site-info a img {
    width: 45%;
}
nav {
  float: right;
  margin-top: 1em;
  font-size: 1em;
    padding: 0.2em 0.7em 0.2em 0.2em;
    background: #fff;

  @include mobile {
    float: left;
    margin-top: 2em;
    display: block;
    font-size: 16px;
    width: 100%;
  }
  a {
      margin-left: 0.5em;
      color: #000;
      text-align: right;
      font-family: Rubik;
      font-weight: 400;
      font-size: 0.9em;
      text-transform: uppercase;
      text-decoration: none;
  }
}

//
// .strapline
//

.strapline {
    margin: 0 auto;
    padding: 3em;
    width: 80%;
}
.strapline p {
    font-family: Rubik;
    font-size: 2.4em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    
    @include mobile {
    font-size: 1.4em;
    text-align: left;
  }
}
.strapline a {
    color: #fff;
}

//
// .participate
//

.features {
    margin: 0 auto;
    padding-top: 2em;
    width: 100%;
}
.pricing {
    margin: 0 auto;
    padding-bottom: 8%;
    width: 80%;
}
li.price {
    text-transform: uppercase;
}
.mailing-list {
    margin: 0 auto;
    padding: 2em 0 1em 0;
    width: 80%;
    max-width: 640px;
    color: #fff;
}
.mailing-list label {
    padding-bottom: 1em;
}
.mailing-list input {
    border: none;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1.2em;
    width: 60%;
    float: left;
    
    @include mobile {
    width: 100%;
  }
}
.mailing-list input.button {
    background: #000;
    color: #fff;
    float: right;
    width: 40%;
    
    @include mobile {
    float: left;
    margin-top: 0.25em;
    width: 100%;
  }
}
form .mailing-list #mce-responses, form .mailing-list div.mce_inline_error, form .mailing-list #mce-error-response {
    margin-top: 1em;
    background: none;
    font-weight: 300;
}
.threecolumn {
    padding: 1em 2em;
    margin: 0 2%;
    width: 29%;
    float: left;
    background: #fff;
    border: 3px #000 solid;
    
    @include mobile {
        padding: 0;
        width: 100%;
        border: none;
    }
}
.values {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}
.fourcolumn {
    border: none;
    padding: 0;
    margin: 0 2%;
    width: 21%;
    float: left;
    color: #fff;
    
    @include mobile {
        margin: 0 0 1em 0;
        width: 100%;
    }
}
.fourcolumn h2 {
    font-size: 1.4em;
}
.image-section img {
}

//
// .main
//

#main {
    padding: 5em 0;
}

.posts > .post {
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
}

.entry p {
    font-size: 1.2em;
}
.entry ul {
    margin: 1em 0;
    list-style: disc outside;
}
.entry ul li {
    font-size: 1.2em;
}
.post {
  .comments {
    margin-top: 1em;
  }
  .read-more {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #000;
  }
}
.entry form {
    margin: 0 auto;
    max-width: 640px;
}
.entry form input, .entry form select {
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
}
.entry form input.button {
    width: auto;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 0;
}
.entry form textarea {
    width: 100%;
    height: 6em;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
}
footer {
    margin: 0 auto;
    padding: 3em 0;
    width: 80%;
    color: #fff;
}
footer h3 {
    color: #1AC0B8;
}
footer ul, footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer a {
    color: #fff;
}
#mc_embed_signup {
    clear:left;
    font:14px Rubik,sans-serif;
}