    <div class="wrapper-highlight">
        <footer class="footer">
            <div class="fourcolumn">
                <h3 class="darker">Navigation</h3>
                <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h3 class="darker">Conversation</h3>
                <ul>
                <li><a href="https://twitter.com/thedataplace">Twitter</a></li>
                <li><a href="https://medium.com/thedataplace">Medium</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h3>Registration</h3>
                <p>Registered office address: Fairbairn House, Higher Lane, Plymouth, England, PL1 2AN. Company number: 09966529.</p>
            </div>
            <div class="fourcolumn">
                <p><img src="images/CCS-supplier-logo-white.png"</p>
            </div>
            <br style="clear: both">
        </footer>
      </div>