    <div class="wrapper-clear">
        <header class="masthead clearfix">
          <div class="site-info">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/thedataplacelogo.svg"></a>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/services">Services</a>
            <a href="{{ site.baseurl }}/platform">Platform</a>
            <a href="{{ site.baseurl }}/clients">Clients</a>
            <a href="{{ site.baseurl }}/tools">Tools</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/team">Team</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
          </nav>
        </header>
    </div>