    <div class="wrapper-highlight">
        <header class="masthead clearfix">
          <div class="site-info">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/thedataplacelogo.svg"></a>
          </div>

          <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/about">About</a>
              <a href="{{ site.baseurl }}/datawithpurpose">Data With Purpose</a>
              <a href="{{ site.baseurl }}/contact">Contact</a>
          </nav>
        </header>
    </div>