<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,900|Source+Sans+Pro:300,400,700" rel="stylesheet">
      <script src="https://use.fontawesome.com/76a3eb9fe3.js"></script>

  </head>

  <body class="home">

    {% include header.html %}
      
    <div class="wrapper-highlight backgroundimg">
        <div class="strapline">
        <p>A better model for data publishing. <a href="{{ site.baseurl }}/about">Find out more</a>.</p>
        </div>
    </div>
      
    <div class="wrapper">
        <div class="easy"><i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>
                <h2>Easy</h2>
                <p>It's easy and quick to set up your first data store and get the most from publishing your data.</p>
            </div>
    </div>
    <div class="wrapper-highlight">
        <div class="affordable"><i class="fa fa-anchor fa-5x" aria-hidden="true"></i>
                <h2>Secure</h2>
                <p>Your data store lives in a secure, backed up and ISO27001 compliant UK data centre.</p>
        </div>
    </div>
      <div class="wrapper">
            <div class="scalable"><i class="fa fa-expand fa-5x" aria-hidden="true"></i>
                <h2>Flexible</h2>
                <p>Start, increase, downsize or stop your plan any time - without penalty.</p>
            </div>
      </div>
            </div>
      </div>
      
          <div class="wrapper-highlight">
        <div class="pricing">
            <div class="pricingheader">
            <h2>Pricing</h2>
                <p>Affordable. And did we mention that <a href="{{ site.baseurl }}/about">we're a social enterprise</a>?</p>
            </div>
            <div class="fourcolumn">
                <h2>Free Tier</h2>
                <ul>
                <li>Up to 4 datasets.</li>
                <li>Shared instance.</li>
                <li>1 Organisation.</li>
                <li>0 Groups.</li>
                <li>Free!</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2>Basic</h2>
                <ul>
                <li>Up to 19 datasets.</li>
                <li>Shared instance.</li>
                <li>1 Organisation.</li>
                <li>1 Group.</li>
                <li>£25 per month.</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2>Mid</h2>
                <ul>
                <li>Up to 49 datasets.</li>
                <li>Custom subdomain.</li>
                <li>5 Organisations.</li>
                <li>10 Groups.</li>
                <li>£120 per month</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2>Heavy</h2>
                <ul>
                <li>Up to 99 datasets.</li>
                <li>Domain mapping.</li>
                <li>20 Organisations.</li>
                <li>50 Groups.</li>
                <li>£200 per month.</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <br style="clear: both">
            </div>
      </div>

    <div id="main" class="wrapper">
        <div class="container">
      {{ content }}
        </div>
    </div>    

    {% include footer.html %}
      
    {% include analytics.html %}
      
  </body>
</html>
