<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900|Lato:300,700" rel="stylesheet">
      <script src="https://use.fontawesome.com/76a3eb9fe3.js"></script>

  </head>

  <body class="home">

    {% include header.html %}
      
    <div class="wrapper-highlight backgroundimg">
        <div class="strapline">
        <p>A better model for data publishing. <a href="{{ site.baseurl }}/about">Find out more</a>.</p>
        </div>
    </div>
      <div class="wrapper-strip"><!-- Begin MailChimp Signup Form -->
          <div class="mailing-list">
<div id="mc_embed_signup">
<form action="//place.us14.list-manage.com/subscribe/post?u=ed5fe154dbfd2bfea21b3f856&amp;id=96dcebc334" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<label for="mce-EMAIL" style="display:none">Enter your email address for updates.</label>
	<input type="email" onfocus="if (this.value=='Enter your email address for updates.') this.value = ''" type="text" value="Enter your email address for updates.">
	<div id="mce-responses" class="clear">
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ed5fe154dbfd2bfea21b3f856_96dcebc334" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ORG';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup--></div><br style="clear: both;"></div>
      <div class="wrapper">
          <div class="values">
        <div class="threecolumn">
                <h2>Easy</h2>
                <p>It's easy and quick to set up your first data store and get the most from publishing your data.</p>
            </div>
        <div class="threecolumn">
                <h2>Secure</h2>
                <p>Your data store lives in a secure, backed up and ISO27001 compliant UK data centre.</p>
        </div>
            <div class="threecolumn">
                <h2>Flexible</h2>
                <p>Start, increase, downsize or stop your plan any time - without penalty.</p>
      </div>
            
          <br style="clear: both">
              </div>
            </div>
          <div class="wrapper-highlight">
        <div class="pricing">
            <p class="pricing-intro">Clear, upfront pricing. We're keeping the cost of data publishing to a minimum so that you can get more from your data.</p>
            <div class="fourcolumn">
                <h2 class="darker">Free</h2>
                <ul>
                <li>Up to 4 datasets.</li>
                <li>Shared instance.</li>
                <li>0 Organisations.</li>
                <li>0 Groups.</li>
                <li>1 User.</li>
                <li class="price">Free!</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2 class="darker">Shared</h2>
                <ul>
                <li>Up to 19 datasets.</li>
                <li>Shared instance.</li>
                <li>1 Organisation.</li>
                <li>0 Groups.</li>
                <li>5 Users.</li>
                <li class="price">£25 per month.</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2>Branded</h2>
                <ul>
                <li>Up to 49 datasets.</li>
                <li>Custom subdomain.</li>
                <li>5 Organisations.</li>
                <li>10 Groups.</li>
                <li>10 Users.</li>
                <li class="price">£120 per month</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2>Fronted</h2>
                <ul>
                <li>Up to 99 datasets.</li>
                <li>Basic Wordpress.</li>
                <li>10 Organisations.</li>
                <li>20 Groups.</li>
                <li>20 Users.</li>
                <li class="price">£250 per month.</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <br style="clear: both">
            </div>
      </div>

    <div id="main" class="wrapper">
        <div class="container">
      {{ content }}
        </div>
    </div>    

    {% include footer.html %}
      
    {% include analytics.html %}
      
  </body>
</html>
