<!DOCTYPE html>
<html>
  <head>

    {% include dochead.html %}

  </head>

  <body class="home">

    {% include header.html %}
      
    <div class="wrapper-clear">
        <div class="strapline">
        <p>Open Source On Demand.</p>
        </div>
    </div>
        <div class="wrapper-highlight">
            <div class="wide-container">
            <p class="page-intro">The Data Place offers a flexible data catalogue, based on the open source CKAN product, that can be scaled or diversified to meet multiple requirements, and an integrated, bespoke, front end web site that provides the ability to visualise, disseminate, and maximise the value of the underlying data.<br /><a href="{{ site.baseurl }}/signup">Sign up now</a></p>
            </div>
      </div>
      
                <div class="wrapper">
          <div class="values">
        <div class="threecolumn">
                <h2>Easy</h2>
                <p>It's easy and quick to set up your first data store and get the most from publishing your data.</p>
            </div>
        <div class="threecolumn">
                <h2>Secure</h2>
                <p>Your data store lives in a secure, backed up and ISO27001 compliant UK data centre.</p>
        </div>
            <div class="threecolumn">
                <h2>Flexible</h2>
                <p>Start, increase, downsize or stop your plan any time - without penalty.</p>
      </div>
            
          <br style="clear: both">
              </div>
            </div>  
      
          <div class="wrapper-highlight">
              <div class="wide-container">
            <div class="fourcolumn">
                <h2 class="darker">Free</h2>
                <ul>
                <li>Up to 4 datasets.</li>
                <li>Shared instance.</li>
                <li>0 Organisations.</li>
                <li>0 Groups.</li>
                <li>1 User.</li>
                <li class="price">Free!</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2 class="darker">Shared</h2>
                <ul>
                <li>Up to 19 datasets.</li>
                <li>Shared instance.</li>
                <li>1 Organisation.</li>
                <li>0 Groups.</li>
                <li>5 Users.</li>
                <li class="price">£25 per month.</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2>Branded</h2>
                <ul>
                <li>Up to 49 datasets.</li>
                <li>Custom subdomain.</li>
                <li>5 Organisations.</li>
                <li>10 Groups.</li>
                <li>10 Users.</li>
                <li class="price">£120 per month</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <div class="fourcolumn">
                <h2>Fronted</h2>
                <ul>
                <li>Up to 99 datasets.</li>
                <li>Basic Wagtail CMS.</li>
                <li>10 Organisations.</li>
                <li>20 Groups.</li>
                <li>20 Users.</li>
                <li class="price">£250 per month.</li>
                <li><a href="{{ site.baseurl }}/signup">Sign Up</a></li>
                </ul>
            </div>
            <br style="clear: both">
            </div>
      </div>
      
                  <div class="wrapper-services-design">
            <div class="wide-container-left-align">
            <h2>The Story Platform</h2>
            <p>We can supplement our CKAN datastores with a flexible CMS based on open source technologies Wagtail and Django.</p>
            <br style="clear: both">
            </div>
    </div>

    {% include footer.html %}
      
    {% include analytics.html %}
      
  </body>
</html>
