<!DOCTYPE html>
<html>
  <head>

    {% include dochead.html %}

  </head>

  <body class="home">

    {% include header.html %}
      
    <div class="wrapper-clear">
        
        <div class="strapline">
            
        <p>Human Centred Data.</p>
            
        </div>
        
    </div>
      
      </div>
          <div class="wrapper-highlight">
        <div class="wide-container">
            <p class="page-intro">Getting the most from data requires a combination of people and technical skills: from facilitating, problem-solving and collaborating to data science. We draw on service design, data science and support for learning to foster a data culture that makes the publishing and use of data easier, more effective and more meaningful.<br  /><a href="#">Take a look at some of our work on Medium</a></p>
      </div>
      <div class="wrapper-services-basics">
            <div class="wide-container-left-align">
            <h2>Data Basics</h2>
            <p>We advocate for cleaner, better structured, more timely data, finding and enabling the people who produce it.</p>
            <br style="clear: both">
            </div>
    </div>
      <div class="wrapper-services-solutions">
            <div class="wide-container-right-align">
            <h2>Data Solutions</h2>
            <p>We get to know the problem space, understanding what can (and can not) be solved with data-enabled approaches.</p>
            <br style="clear: both">
            </div>
    </div>
      <div class="wrapper-services-collaboration">
            <div class="wide-container-left-align">
            <h2>Data Collaboration</h2>
            <p>We use collaboration and co-design to bring people together, strengthen networks, develop skills and build capacity.</p>
            <br style="clear: both">
            </div>
    </div>
      <div class="wrapper-services-infrastructure">
            <div class="wide-container-right-align">
            <h2>Data Infrastructure</h2>
            <p>We help scope, specify, build, deliver and support open data infrastructure services.</p>
            <br style="clear: both">
            </div>
    </div>
      <div class="wrapper-services-impact">
            <div class="wide-container-left-align">
            <h2>Data Impact</h2>
            <p>We're focused on outcomes, ensuring that every project makes a positive impact.</p>
            <br style="clear: both">
            </div>
    </div>   

    {% include footer.html %}
      
    {% include analytics.html %}
      
  </body>
</html>
