<!DOCTYPE html>
<html>
  <head>

    {% include dochead.html %}

  </head>

  <body class="home">

    {% include header.html %}
      
    <div class="wrapper-clear">
        
        <div class="strapline">
            
        <p>A better model for data publishing.<br /><a href="{{ site.baseurl }}/about">Find out more</a>.</p>
            
        </div>
        
    </div>
      
      </div>
          <div class="wrapper-highlight">
        <div class="wide-container">
            <p class="page-intro">Getting the most from data requires a combination of people and technical skills: from facilitating, problem-solving and collaborating to data science. We draw on service design, data science and support for learning to foster a data culture that makes the publishing and use of data easier, more effective and more meaningful.<br  /><a href="#">Take a look at some of our work on Medium</a></p>
      </div>
      <div class="wrapper-services-design">
            <div class="wide-container-left-align">
            <h2>Data + Data</h2>
            <p>We advocate for more, cleaner, better structured, more timely data, finding and enabling the people who produce it.</p>
            <br style="clear: both">
            </div>
    </div>
      <div class="wrapper-services-science">
            <div class="wide-container-right-align">
            <h2>Data + Problems</h2>
            <p>We are skilled at understanding the problem space and what sorts of problems can (and can not) be solved with data-enabled approaches.</p>
            <br style="clear: both">
            </div>
    </div>
      <div class="wrapper-services-skills">
            <div class="wide-container-left-align">
            <h2>Data + Skills</h2>
            <p>We kick-start prototyping and design work, bringing together people with data with those with the skills to make things with it.</p>
            <br style="clear: both">
            </div>
    </div>
      <div class="wrapper-services-science">
            <div class="wide-container-right-align">
            <h2>Data + Infrastructure</h2>
            <p>we help scope, specify, build, deliver and support open data infrastructure services.</p>
            <br style="clear: both">
            </div>
    </div>
      <div class="wrapper-services-skills">
            <div class="wide-container-left-align">
            <h2>Data + You</h2>
            <p>Making data relevant through data stories and data-enabled journalism.</p>
            <br style="clear: both">
            </div>
    </div>   

    {% include footer.html %}
      
    {% include analytics.html %}
      
  </body>
</html>
